@using EPiServer.Core
@model SitePageData
<div class="col-md-4 col-sm-12 page-partial">
    @using (Html.BeginConditionalLink(Model.HasTemplate(), Url.PageLinkUrl(Model), Model.PageName))
    {
        @Html.DisplayFor(x => x.PageImage)
    }
</div>
